@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.home {
 .features {
  background: rgba($color: $dark, $alpha: .7);
  border-bottom: 6px solid white;
 .html {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  h1 {
  color: white;
  @include oxygenl;
  text-align: center;
  @include box1;
  }// h1
 }// .html
 .js {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 5px solid white;
  h1 {
   color: pink;
   @include oxygenl;
   text-align: center;
   @include box1;
   }// h1
 }// .js
 .css {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 5px solid white;
  h1 {
   color: $lblue;
   @include oxygenl;
   text-align: center;
   @include box1;
   }// h1
 }// .css
 .plugins {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 5px solid white;
  h1 {
   color: $llgreen;
   @include oxygenl;
   text-align: center;
   @include box1;
   }// h1
 }// .plugins 
 }// .features
  .react-parallax.welcome {

    image.react-parallax-bgimage {
      width: 100% !important;
    } // image.react-parallax-bgimage

    .react-parallax-content {
      background-color: rgba($color: $dark, $alpha: 0.4);

      // latest posts ////////////////////////////////////////////////////////
      .content {
           .left {
            color: white;
            padding-top: 330px;
            padding-left: 50px;
            span {
            color: $lblue;
            font-weight: 400;
            }// span
           }// .left
           
           .right {
            color: white;
            background: rgba($color: $llpurple, $alpha: .4);
            padding-top: 300px;
            padding-bottom: 300px;
            padding-left: 350px;
            padding-right: 350px;
            border-left: 4px solid rgba($color: white, $alpha: .4);
            .cata {
            span {
            &.dev {
            color: $ryellow;
            margin-right: 10px;
            }// &.dev
            &.news {
            color: $llgreen;
            }// &,news
            }// span
            }// .cata
            h1 {
            small {
 
            }// small
            span {
            span.name {
 
            }// span.name
            .avatar {
             margin-right: 5px;
             margin-bottom: -20px;
            div {
 
            img {
            }// img
            }// div
            }// .avatar 
            svg {
            color: $lblue; 
            width: 15px;
            height: 15px;
            margin-top: -3px;
            }// svg
            }// span
            }// h1
           }// right
      } // .content
    } // ..react-parallax-content
  } // .react-parallax.welcome
  .spanarferd {
   background: rgba($color: $llpurple, $alpha: .4);
   @include box1;
   .eventtitle {
    background: rgba($color: $llpurple, $alpha: .4);   
    color: white;
    @include oxygenl;
    font-size: 24px;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    
   }// .eventtitle   
.event {
 padding-left: 15px;
 padding-top: 2px;
 
 h1 {
  span {
  &.name {
  color: white;
  @include oxygenl;
  font-size: 24px;
  }// &.name
  &.count {
  color: $DarkMagenta;
  @include oxygenl;
  font-size: 24px;
  
  }// &.count 
  }// span
  }// h1
}// .event

  }// .spanarferd

  .spanarferdslide {
   background: rgba($color: white, $alpha: .4);
   border-right: 4px solid rgba($color: $llpurple, $alpha: .4);
   @include box1;
   .eventtitle {
    background: rgba($color: $llpurple, $alpha: .4);   
    color: white;
    @include oxygenl;
    font-size: 24px;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    
   }// .eventtitle   
.event {
 padding-left:15px;
 
 h1 {
  span {
  &.name {
  color: white;
  @include oxygenl;
  font-size: 24px;
  }// &.name
  &.count {
  color: $dark;
  @include oxygenb;
  font-size: 24px;
  letter-spacing: 2px;
  @include text;
  
  }// &.count 
  }// span
  }// h1
}// .event

  }// .spanarferdslide

  .notes {

  }// .notes
  .devs {
   margin-top: -50px;
   .react-parallax.devs {
    image.react-parallax-bgimage {
      width: 100% !important;
    } // image.react-parallax-bgimage

    .react-parallax-content {
      background-color: rgba($color: $dark, $alpha: 0.4);

      // latest posts ////////////////////////////////////////////////////////
      .content {
      .next {
       color: white;
       background: rgba($color: white, $alpha: .4);
       width: 100%;
       padding-top: 50px;
       padding-bottom: 50px;
       padding-left: 20px;
      }// .next
      .react {
       color: white;
       background: rgba($color: $llpurple, $alpha: .4);
       width: 100%;
       padding-top: 50px;
       padding-bottom: 50px;
       padding-left: 20px;
      }// .react
      .other {
       color: white;
       background: rgba($color: $neon, $alpha: .4);
       width: 100%;
       padding-top: 50px;
       padding-bottom: 50px;
       padding-left: 20px;
      }/// .other
      .scss {
       color: white;
       background: rgba($color: $llorange, $alpha: .4);
       width: 100%;
       padding-top: 50px;
       padding-bottom: 50px;
       padding-left: 20px;
      }// .scss
      } // .content
    } // ..react-parallax-content
  } // .react-parallax.welcome
  }// .devs

  .react-parallax.experience {

   image.react-parallax-bgimage {
     width: 100% !important;
   } // image.react-parallax-bgimage

   .react-parallax-content {
     

     // latest posts ////////////////////////////////////////////////////////
     .content {
          .left {
           background-color: rgba($color: $dark, $alpha: 0.7);
          .postone {
           padding: 20px;
          img {
          margin-top: 50px;
          margin-left: 250px;
          }// img
          h1 {
          @include oxygenb;
          font-size: 20px;
          text-align: center;
          color: white;
          span {
          color: white;
          @include oxygenl;
          }// span
          }// h1
          }// .postone
          
          }// .left
          
          .right {
           background-color: rgba($color: $llpurple, $alpha: 0.7);
           border-left: 3px solid rgba($color: white, $alpha: .4);

           .posttwo {

           }// .postwto

           .postthree {

           }// .postthree
          }// right
     } // .content
   } // ..react-parallax-content
 } // .react-parallax.experience

} // .home
