@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.home {
  .react-parallax.welcome {
    image.react-parallax-bgimage {
      width: 100% !important;
    } // image.react-parallax-bgimage

    .react-parallax-content {
      background-color: rgba($color: $dark, $alpha: 0.4);

      // latest posts ////////////////////////////////////////////////////////
      .content {
          .left {
           color: white;
           padding-top: 330px;
           padding-left: 50px;
           span {
           color: $lblue;
           font-weight: 400;
           }// span
          }// .left
          
          .right {
           color: white;
           background: rgba($color: $llpurple, $alpha: .4);
           padding-top: 300px;
           padding-bottom: 300px;
           padding-left: 350px;
           padding-right: 350px;
           border-left: 4px solid rgba($color: white, $alpha: .4);
           .cata {
           span {
           &.dev {
           color: $ryellow;
           margin-right: 10px;
           }// &.dev
           &.news {
           color: $llgreen;
           }// &,news
           }// span
           }// .cata
           h1 {
           small {

           }// small
           span {
           svg {
           color: $lblue; 
           width: 15px;
           height: 15px;
           margin-top: -3px;
           }// svg
           }// span
           }// h1
          }// right
      } // .content
    } // ..react-parallax-content
  } // .react-parallax.welcome
} // .home
