@import './base/colors.scss';
@import './base/mixins.scss';

.notes {


.notepost {

.notetitle {
 color: white;
 @include source;
 font-size: 24px;
 text-align: center;
 padding: 20px;
 
}// .notetitle

.note {
 background: rgba($color: $dark, $alpha: .7);
 //border-bottom: 1px solid rgba($color: gray, $alpha: .3);

.title {
 color: $llpurple;
 @include source;
 font-size: 16px;
 font-weight: 600;
 padding: 15px;
 
a {
 text-decoration: none;

&:hover {
 color: $llpurple;
}// &:hover 

}// a

}// .title

.date {
 color: white;
 @include source;
 font-size: 14px;
 font-weight: 300;
 margin-top: -10px !important;

time.date {
 
}// time.date

}// .date

.clock {
 @include source;
 font-weight: 300;
 padding: 15px;

time.timi {
 color: $lpurple;
 padding-right: 10px;
}// time.timi

}// clock

}// .note


}// .notepost


}// .notes