@import './base/colors.scss';
@import './base/mixins.scss';
@import './base/base.scss';

.notes {


.notepost {
padding-top: 20px;
padding-bottom: 50px;

.notetitle {
 background: rgba($color: $llpurple, $alpha: .4);   
 color: white;
 @include source;
 font-size: 28px;
 font-weight: 400;
 text-align: center;
 padding-top: 119px;
 padding-left: 30px;
 padding-right: 30px;
 margin-top: -20px;
 
}// .notetitle

.note {
 padding-bottom: 15px;
 //border-bottom: 1px solid rgba($color: gray, $alpha: .3);

.title {
 color: $dark;
 @include source;
 font-size: 16px;
 font-weight: 600;
 padding: 15px;
 
a {
 text-decoration: none;

&:hover {
 color: white;
 background: rgba($color: $llpurple, $alpha: .4);
 padding: 2px;
}// &:hover 

}// a

}// .title

.date {
 color: $llpurple;
 @include source;
 font-size: 14px;
 font-weight: 300;
 margin-top: -10px !important;

time.date {
 
}// time.date

}// .date

.clock {
 @include source;
 font-weight: 300;
 padding: 15px;

time.timi {
 color: $lpurple;
 padding-right: 10px;
}// time.timi

}// clock

}// .note


}// .notepost


}// .notes