@import './base/colors.scss';
@import './base/mixins.scss';
@import './base/base.scss';

.notesmain {

.sidebar {
 padding: 10px;
h1 {
 text-align: center;
}// h1

}// .sidebar


.notes {

ul.notee {

li {
 background: rgba($color: $nice, $alpha: .1);
 border: 1px solid rgba($color: $nice, $alpha: .2);
}// li

}// ul.notee

 .note {
  padding-bottom: 5px;
  //border-bottom: 1px solid rgba($color: gray, $alpha: .3);
 
 .title {
  color: $dark;
  @include oxygenl;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  
 a {
  text-decoration: none;
 
 &:hover {
  color: white;
  background: rgba($color: $llpurple, $alpha: .4);
  padding: 2px;
 }// &:hover 
 
 }// a
 
 }// .title

 // caegories //////////////////////////////////////////////////
ul.cats {
 margin-top: -20px;
 margin-bottom: 10px;

li {
 background: none !important;
 border: none !important;
span{
 color: $nice;

}// span

}// li

}// ul.cats /// categories ////////////////////////////////////
 
 .date {
  color: $llpurple;
  @include source;
  font-size: 14px;
  font-weight: 300;
  margin-top: -10px !important;
 
 .datetime {
  color: $dark;
  @include oxygenl;
  font-size: 13px;
 svg {
 color: $nice;
 width: 14px;
 height: 14px;
 margin-top: -2px !important;
 margin-left: 5px;
 margin-right: 2px;
 }// svg 

 }// .datetime
 
 }// .date
 
 .clock {
  @include source;
  font-weight: 300;
  padding: 15px;
 
 time.timi {
  color: $lpurple;
  padding-right: 10px;
 }// time.timi
 
 }// clock
 
 }// .note

}// .notes

.right {

}// .right

}// .notesmain