@import './base/colors.scss';
@import './base/mixins.scss';

.posts {

.posttitle {
 background: rgba($color: $navpink, $alpha: .4);   
 color: white;
 @include source;
 font-size: 28px;
 font-weight: 400;
 text-align: center;
 padding-top: 150px;
 padding-left: 30px;
 padding-right: 30px;
 margin-top: -20px;
}// .posttitle

.post {
 margin-top: 50px;
 padding-left: 10px;
 padding-right: 10px;
img {
 min-height: 180px;
 max-height: 180px;
}// img 

span {

}// span

a {
 color: $llpurple;
 padding-left: 20px;
}// a

}// .post
 
}// .posts