@import './base/colors.scss';
@import './base/mixins.scss';

.defaultpost {

.single {

 .react-parallax.defaultpost {
  image.react-parallax-bgimage {
    width: 100% !important;
  } // image.react-parallax-bgimage

  .react-parallax-content {
    background-color: rgba($color: $dark, $alpha: 0.4);

    // latest posts ////////////////////////////////////////////////////////
    .content {
     .datax {
      padding-top: 300px;
      padding-bottom: 300px;
      
      .category {
       color: $llgreen;
       span {
       &.second {
       margin-left: 10px;
       }// &.second
       }// span
      }// &.category
      
      .posttitle {
      color: white;
      @include raleway;
      font-size: 44px;
      font-weight: 600;
      margin-top: -10px;
      }// &.posttitle
      .authorimg {
      img {
       width: 20px;
       height: 20px;
       margin-top: -2px;
      }// img
      }// .authorimg
      .author {
      color: white;
      margin-top: -5px;
      margin-left: 5px;
      }// &.author
      .time {
       color: white; 
       margin-left: 5px;
       margin-top: -5px;
       svg {
        color: $lblue; 
        width: 15px;
        height: 15px;
        margin-top: -3px;
        }// svg
      }// .time
      
      }// .datax
    } // .content
  } // ..react-parallax-content
} // .react-parallax.defaultpost
 
}// .single

}// .defaultpost