@import './base/colors.scss';
@import './base/mixins.scss';

.defaultpost {

.single {

 .react-parallax.defaultpost {
  image.react-parallax-bgimage {
    width: 100% !important;
  } // image.react-parallax-bgimage

  .react-parallax-content {
    background-color: rgba($color: $dark, $alpha: 0.4);

    // latest posts ////////////////////////////////////////////////////////
    .content {
     .datax {
      padding-top: 300px;
      padding-bottom: 300px;
      
      .category {
       color: $lpurple !important;
       p.inline {
       @include oxygenb;
       font-size: 0.9rem;
       text-transform: uppercase;
       padding-right: 10px;
       }// p.inline 
      }// &.category
      
      .posttitle {
      color: white;
      @include raleway;
      font-size: 44px;
      font-weight: 600;
      margin-top: -10px;
      }// &.posttitle
      .authorimg {
      img {
       width: 20px;
       height: 20px;
       margin-top: -2px;
      }// img
      }// .authorimg
      .author {
      color: white;
      margin-top: -5px;
      margin-left: 5px;
      }// &.author
      .time {
       color: white; 
       margin-left: 5px;
       margin-top: -5px;
       svg {
        color: $lblue; 
        width: 15px;
        height: 15px;
        margin-top: -3px;
        }// svg
      }// .time
      
      }// .datax
    } // .content
  } // ..react-parallax-content
} // .react-parallax.defaultpost
 
.body {

p {
 @include oxygenr;
 font-size: 1.1rem;
 padding-left: 10px;
 padding-right: 10px;
 margin-top: 20px;
 margin-bottom: 20px;
}// p

div {
padding-top: 20px;

p {
 @include oxygenr;
 font-size: 1.1rem;
 margin-top: 20px;
 margin-bottom: 20px;
}// p

figure {

img {
 width: 100% !important;
 padding-top: 20px;
 padding-bottom: 20px;
}// img

}// figure

}// div

}// /.body

}// .single

}// .defaultpost