@import './base/colors.scss';
@import './base/mixins.scss';


.weather {
  background: white;
  min-width:860px !important;
  margin-top: -54px;
  padding-bottom: 6px;
  
 .search {
  min-width: 50% !important;
  padding: 2px;
  border: none !important;
  text-shadow: none !important;

 input {
  background: rgba($color: gray, $alpha: .1);
  color: $dark !important;
  font-size: 14px;
  text-align: center;
  min-width: 100% !important;
  outline: none;
  padding: .5rem 1rem;
  margin-top: -2px;
  border: 1px solid rgba($color: gray, $alpha: .1) !important;
  border-radius: 30px;
  text-shadow: none !important;
 
 &::selection {
  border: none !important;
  text-shadow: none !important;
 }// &::selection
 
 &::active {
  border: none !important;
  text-shadow: none !important;
 }// &::selection 
 
 }// input
 
 }// .search

 ///////////////////////////// vedrid ///////////////////////
.vedrid {
 background: white; 
 min-width:860px !important;
 border: 1px solid rgba($color: gray, $alpha: .1) !important;
 margin-top: 8px;
 margin-bottom: -6px !important;
 box-shadow: 3px 1px 3px $lpurple;
 //border-top: 2px solid $lpurple;
 //border-bottom: 1px solid $lpurple;

 ////////////////////////////// new ////////////////////////
 .new {

ul.nameheatclouds {
 background: rgba($color: $dark, $alpha: .7);

span {// for flex

li {

&.name { ///////////// name
 color: white;
 @include oxygenb;
 font-size: 24px;
 @include textdown;
 letter-spacing: -2px;
 padding-top: 5px;
 padding-bottom: 5px;
}// &.name ////////////////

&.temp { ///////////////// temp
 margin-top: -3px;

span {
 @include oxygenb;

&.name {
 color: $nice;
 font-size: 16px;
 @include textdown;
 margin-bottom: 6px;
 letter-spacing: -1px;
}// &.name

&.temp {
 color: $nicedd;
 @include oxygenb;
 font-size: 64px;
 margin-left: -17px;

}// span.temp

&.cells {
 color: white;
 margin-left: -12px;
}// &.cells

}// span

}// &.temp /////////////////////////

&.feels { /////////////////////// feels

span {
 @include oxygenb;

&.name {
 color: $nice;
 font-size: 16px;
 @include textdown;
 margin-bottom: 6px;
 letter-spacing: -1px;
}// &.name

&.feels {
 color: $lblue;
 @include oxygenb;
 font-size: 64px;
 margin-left: -19px;
}// &.feels

&.cells {
 color: white;
 margin-left: -12px;
}// &.cells

}// span 

}// &.feels //////////////////// feels

&.clouds { //////////////////// clouds

span {
 color: $nice;
 @include oxygenb;
 font-size: 64px;
}// span

}// &.clouds ///////////////// clouds

&.wind { //////////////////// wind

span {
 @include oxygenb;

&.name {
 color: $nice;
 font-size: 16px;
 @include textdown;
 margin-bottom: 6px;
 letter-spacing: -1px;
}// &.name

&.wind {
 color: white;
 @include oxygenb;
 font-size: 64px;
 margin-left: -19px;
}// &.wind

&.cells {
 color: white;
 margin-left: -10px;
}// &.cells

}// span 

}// &.wind ///////////////// wind

&.hum { /////////////////// hum

span {
 @include oxygenb;

 &.name {
  color: $nice;
  font-size: 16px;
  @include textdown;
  margin-bottom: 6px;
  letter-spacing: -1px;
 }// &.name
 
 &.hum {
  color: rgba($color: white, $alpha: .5);
  @include oxygenb;
  font-size: 64px;
  margin-left: -19px;
 }// &.hum
 
 &.cells {
  color: white;
  margin-left: -10px;
 }// &.cells

}// span

}// &.hum //////////////// hum

}// li

}// span

}// ul.nameheatclouds

 }// .new

 //////////////////////////////////////// below //////////////////////////////////////////////////
  ul.below {
   background: rgba($color: $dark, $alpha: .7);
  
  span {// for flex
  
  li {
  
  &.mintemp { ///////////////// mintemp
   margin-top: -75px;
   margin-left: 35px;
  
  span {
   @include oxygenb;
  
  &.name {
   color: $nice;
   font-size: 16px;
   margin-bottom: -6px;
   margin-right: -48px;
   letter-spacing: -1px;
  }// &.name
  
  &.mintemp {
   color: $lblue;
   @include oxygenb;
   font-size: 34px;
   margin-left: -17px;
  
  }// span.mintemp
  
  &.cells {
   color: white;
   margin-left: -12px;
  }// &.cells
  
  }// span
  
  }// &.mintemp /////////////////////////
  
  &.feels { /////////////////////// feels
  
  span {
   @include oxygenb;
  
  &.name {
   color: $nice;
   font-size: 16px;
   @include textdown;
   margin-bottom: 6px;
   letter-spacing: -1px;
  }// &.name
  
  &.feels {
   color: $lblue;
   @include oxygenb;
   font-size: 64px;
   margin-left: -19px;
  }// &.feels
  
  &.cells {
   color: white;
   margin-left: -12px;
  }// &.cells
  
  }// span 
  
  }// &.feels //////////////////// feels
  
  &.clouds { //////////////////// clouds
  
  span {
   color: $nice;
   @include oxygenb;
   font-size: 64px;
  }// span
  
  }// &.clouds ///////////////// clouds
  
  &.wind { //////////////////// wind
  
  span {
   @include oxygenb;
  
  &.name {
   color: $nice;
   font-size: 16px;
   @include textdown;
   margin-bottom: 6px;
   letter-spacing: -1px;
  }// &.name
  
  &.wind {
   color: white;
   @include oxygenb;
   font-size: 64px;
   margin-left: -19px;
  }// &.wind
  
  &.cells {
   color: white;
   margin-left: -10px;
  }// &.cells
  
  }// span 
  
  }// &.wind ///////////////// wind
  
  &.hum { /////////////////// hum
  
  span {
   @include oxygenb;
  
   &.name {
    color: $nice;
    font-size: 16px;
    @include textdown;
    margin-bottom: 6px;
    letter-spacing: -1px;
   }// &.name
   
   &.hum {
    color: rgba($color: white, $alpha: .5);
    @include oxygenb;
    font-size: 64px;
    margin-left: -19px;
   }// &.hum
   
   &.cells {
    color: white;
    margin-left: -10px;
   }// &.cells
  
  }// span
  
  }// &.hum //////////////// hum
  
  }// li
  
  }// span
  
  }// ul.below
 
 ///////////////////////////// left ///////////////////////
.left {
 padding: 5px;
 @include box;

ul.nameheatclouds {
 background: gray;
 padding-bottom: 5px;
span {
  
li {
 color: $dark;
 float: left;
 font-size: 18px;
 font-weight: 600;
 @include oxygenl;

 @include oxygenl;
 padding-right: 4px;
 padding-left: 3px;

span {
 color: $dark;

&.cells {

span.ms {
 color: white;
 font-size: 12px;
}// span.ms

}// &.cells

&.tempdata {
 color: $llpurple;
 font-size: 20px;
 font-weight: 600;
}// &.tempdata

}// span

&.name {
 color:  white;
 @include oxygenb;
 font-size: 28px;
 padding-left: 5px;
}// &.name 
   
&.c {
 color: rgba($color: $dark, $alpha: .8);
 @include oxygenb;
 span {
 color: white;
 @include oxygenb;
 &.tempdata {
 color: $llgreen;
 font-size: 28px;
 }// &.tempdata
 &.cels {
 color: white;
 @include oxygenl;
 }// .cels
 }// span
}// &.c

&.feels {
 color: white;
 @include oxygenb;

span.feelsdata {
 color: $lblue;
 font-size: 28px;
}// span.feelsdata

}// &.feels

&.snow {
 color: white;  
 @include oxygenb;
 font-size: 28px;

 p {

 }// p
}// &,snow

&.w {
 color: white;
 @include oxygenb;

p {

span.wind {
 color: white;
 @include oxygenb;

}// span.wind

span.winddata {
 color: $lblue;
 font-size: 28px;
}// &.winddata 

}// p

}// &.w

&.hum {
 color: $llpurple;  
 font-weight: 400;

p {

span.hum {
 color: white;
 @include oxygenb;

}// span.hum

span.numb {
color: $lblue;
font-size: 28px;
}// span.numb

span.perc {
color: white;
font-size: 12px;
}// span.perc

}// p 

}// &.hum

&.sun {


span.sun {
color: $dark;
}// span.sun

}// &.sun

svg {
 width: 18px;
 height: 18px;
 margin-top: -2px;
}// svg

span.cels {
  color: white !important;
  @include oxygenl;
  font-size: 12px;
}// span.cels

}// li
  
}// span
  
}// ul.nameheatclouds

ul.below {
 background: gray;
 padding-top: 5px;
 border-top: 1px solid rgba($color: $llgreen, $alpha: .7);
 @include box;

li {
 color: $dark;
 float: left;
 font-size: 18px;
 font-weight: 600;
 @include oxygenl;
 padding-right: 10px;
 padding-left: 10px;

&.cmin {
color: white;
@include oxygenb;
span.cels {
 color: white;
 @include oxygenb;
 font-size: 12px;
} // span.cels

}// .cmin

&.cmax {
 color: white;

span.cels {
 color: white;
} // span.cels

}// &.cmax

&.sea {

span {
 color: white;
}// span

}// &.sea

&.windgust {

p {

span {

&.wind {
 color: white;
}// &.wind

&.winddata {
 color: $lblue;
 @include oxygenb;
 font-size: 24px;
}// &.winddata

&.cells {
 color: white;
}// &.cells

}// span

}// p

}// &.windgust

span {
@include oxygenb;
&.tempdatamin {
 color: $lblue;
 font-size: 24px;
}// &.tempdatamin

&.tempdatamax {
 color: $lblue;
 @include oxygenb;
 font-size: 24px;
 span.km {
 color: white;
 font-size: 12px;
 }// span.km
}// &.tempdatamax

&.cels {
 color: $dark;
}// &.celd

}// span

}// li
 
}// ul.below

}// .left

}// .vedrid

}// .weather