@mixin roboto {
    font-family: 'Roboto Flex', sans-serif !important;
  } // roboto
  
  @mixin source {
    font-family: 'Source Sans Pro', sans-serif !important;
  } // source
  
  @mixin sans {
    font-family: 'Open Sans', sans-serif !important;
  }
  
  @mixin raleway {
    font-family: 'Raleway', sans-serif !important;
  }
  


  @mixin oxygenl {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  @mixin oxygenr {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @mixin oxygenb {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  